.table {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-collapse: collapse;
  margin: 0;
  font-family: sans-serif;
  min-width: 375px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;

  thead {
    background-color: rgb(67, 67, 224);
    color: #ffffff;
  }

  th {
    min-width: 120px;
    width: auto;
    padding: 15px 15px;
    font-weight: 600;

    &:not(:last-of-type) {
      border-right: 1px solid #ffffff;
    }

    &.rowHead {
      min-width: 150px;
    }
  }

  .rowTitle {
    background-color: rgb(118, 118, 192);
    color: #ffffff; 
    display: flex;
    align-items: center;
  }

  .removeRowBtn {
    background-color: rgb(194, 54, 47);
    color: #ffffff;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    
    &:hover {
      background-color: rgb(209, 90, 83);
    }
    
    span {
      display: block;
      font-size: 34px;
      margin-top: -7px;
    }
  }

  tr {
    border-bottom: 1px solid #dddddd;

    &:last-of-type {
      border-bottom: 2px solid gray;
    }
  }
  
  td {
    padding: 8px 15px;
    height: 50px;
    vertical-align: middle;

    &.increment:hover {
      background-color: #e8e8e8;
      cursor: copy;
    }

    &:not(:last-of-type) {
      border-right: 1px solid #dddddd;
      text-align: center;
    }

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      padding-right: 30px;
      text-align: right;
    }
  }
}