.table {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;

  .sumCell {
    background-color: rgb(181, 236, 171);
    
    &:hover {
      background-color: rgb(150, 220, 138);
    }
  }

  tr {
    border-bottom: 1px solid #dddddd;

    &:last-of-type {
      border-bottom: 3px solid gray;
    }
  }
  
  td {
    padding: 8px 15px;
    height: 50px;
    vertical-align: middle;
    transition: background-color 0.2s;

    &.increment:hover {
      background-color: #e8e8e8;
      cursor: copy;
    }
    
    &.nearest {
      background-color: #b2dc90;
    }

    &.percentGradient {
      background: linear-gradient(to top, rgba(104, 206, 237, 0.48) 0%, rgba(79, 196, 232, 0.52) var(--percent), rgb(255, 255, 255) var(--percent));
    }

    &:not(:last-of-type) {
      border-right: 1px solid #dddddd;
      text-align: center;
    }

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      padding-right: 30px;
      text-align: right;
    }
  }
}