.averageRow {
  background-color: rgb(67, 67, 224);
  height: 60px;
  
  .averageCell {
    background-color: rgb(255 241 197);
    position: sticky;
    bottom: -3px;
    
    &.empty {
      background: #fff;
      right: 0;
    }
  }
  
  .cellWrapWithBorder {
    border-right: 1px solid #ffffff;
    background-color: rgb(67, 67, 224);
    padding: 15px 15px;
  }
  
  .rowTitle {
    padding: 0;
    position: sticky;
    left: 0;
    z-index: 1;
  }
}
