.dataCell {
  &.increment:hover {
    background-color: #e8e8e8;
    cursor: copy;
  }

  &.nearest {
    background-color: #b2dc90;
  }

  &.percentGradient {
    background: linear-gradient(
      to top,
      rgba(104, 206, 237, 0.48) 0%,
      rgba(79, 196, 232, 0.52) var(--percent),
      rgb(255, 255, 255) var(--percent)
    );
  }
}
