thead {
  background-color: rgb(67, 67, 224);
  color: #ffffff;
  position: sticky;
  top: 64px;
  z-index: 1;
}

th {
  min-width: 120px;
  width: auto;
  font-weight: 600;

  &:not(:last-of-type) {
    border-right: 1px solid #ffffff;
  }
  
  &.rowHead {
    min-width: 150px;
    position: sticky;
    left: 0;
  }
}

.sumColHead {
  background-color: rgb(67, 67, 224);
  position: sticky;
  right: 0;
  padding: 0;
}

.cellWrapWithBorder {
  border-right: 1px solid #ffffff;
  background-color: rgb(67, 67, 224);
  padding: 15px 15px;
  margin: -1px -2px -1px 0px;
  line-height: 34px;
  
  &.rowTitleWrap {
    margin: -1px -1px -1px -1px;
  }
  
  &.sumTitleWrap {
    margin: -1px -1px -1px -1px;
    border-left: 1px solid #ffffff;
  }
}
