thead {
  background-color: rgb(67, 67, 224);
  color: #ffffff;
  position: sticky;
  top: 64px;
  z-index: 1;
}

th {
  min-width: 120px;
  width: auto;
  padding: 15px 15px;
  font-weight: 600;

  &:not(:last-of-type) {
    border-right: 1px solid #ffffff;
  }
  
  &.rowHead {
    min-width: 150px;
  }
}
